<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
 xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation = "http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 <!-- <bean id="hw" class="com.example.HelloWorld"> -->
 <!-- <property name="msg" value="Welcome to Spring Application"></property> -->
 <!--  <bean id="hw" class="com.example.HelloWorld" scope="prototype">
 </bean> -->
 <bean id="tbl" class="com.example.Table">
 
 </bean>
 <!-- <bean id="d" class="com.example.Display" autowire="byType"> -->
 <bean id="d" class="com.example.Display" autowire="constructor">
 </bean>
</beans>